@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #eaecff;
}

.box {
  overflow: auto;
  padding: 100px;
  margin-top: 50px;
  margin-left: 50px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input {
  width: 50%;
  height: 40px;
  padding: 3px 7px;
  font-size: 17px;
  margin-top: 50px;
  margin-left: 50px;
  border: #c6c6c6;
}
input:hover,
input:active {
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.11);
  border: #c6c6c6;
}
footer {
  margin-top: 30px;
  text-align: center;
}
